body {
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One';
    background-image: url('../assets/brasucaLogin.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  :root {
    --tamanho-header: 14vh;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 6vh;
  }
  
  .container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  #logo-harpia img {
      position: fixed;
    margin-left: auto;
    width: 12%;
    left: 2%;
    top: 0;
  }
  
  .header {
    height: var(--tamanho-header);
    background-color: #27231fa1;
  }
  
  .header .container {
    align-items: center;
    height: 100%;
  }
  
  .header a {
    font-size: 16px;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin:  36px;
  }
  .cadastro a{
    padding: 5px 10px;
    background-color: rgb(119, 71, 44);
    border-radius: 15px;
    text-shadow: 0 0 15px #ca9263;
    border: 1px solid black;
    font-weight: 700;
    margin-left: 5 px;
  }
  .loginHeader a{
    padding: 6px 14px;
    background-color: rgb(119, 71, 44);
    border-radius: 15px;
    text-shadow: 0 0 15px #ca9263;
    font-weight: 700;
    border: 1px solid black;
    margin-right: 0;
  }
  
  
  .agora {
    color: rgb(250, 250, 250);
    text-shadow: 0 0 15px #ca9263;
  }
  
  .navbar {
    width:  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
  }
  
  /* FOOTER */
  
  .footer {
    background-color: #27231f67;
    height: 35px;
    color: #afa2a2c7;
    display: flex;
    font-size: 15px;
  }
  
  .footer .container {
    justify-content: center;
    text-align: center;
  }
  
  .footer .container .version {
    font-size: 12px;
  }

/* LOGIN */

.login {

    height: var(--tamanho-login);
  }
  
  .login .container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .card {
    width: 50%;
    background-color: #c5a48e;
    border-radius: 10px;
    border: 4px solid #38281d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    flex-direction: column;
    height: fit-content;
    padding: 30px 0;
    box-shadow: #8a6449 -3px 3px 15px;
  }
  
  .card h2 {
    margin: 0;
    font-size: 30px;
  }
  
  .formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .formulario span {
    font-size: 18px;
    font-weight: 800;
  }
  
  .formulario input {
    border: 2px solid #9c7052;
    text-align: center;
    border-radius: 10px;
    margin: 0;
  }
  
  .formulario select {
    border: 2px solid #32b9cd;
    background-color: white;
    color: gray;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;
  }
  
  .botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #412f09;
    width: 120px;
    height: 30px;
    align-self: center;
    margin-top: 20px;
    transition:all 0.5s ease-in-out;
  }

  .botao:hover{
    background-color: #615232;
  }
  
  .loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  #div_erros_login {
    display: none
  }
  
  /* FORMULARIO */
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    border: 2px solid #32b9cd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e6005a;
    width: 120px;
    align-self: center;
    margin-top: 5px;
  }
  
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  /* SIMULADOR */
  
  .simulador {
    font-style: bold;
    color: rgb(89, 22, 22);
    text-decoration: none;
    font-family: the seasons;
    font-size: 25px;
    
  }
  
  .simulador .container {
    flex-direction: column;
    overflow: scroll; 
    height: var(--tamanho-simulador);
  
  }
  
  /* ALERTA */
  
  #alerta {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  .mensagem-alarme {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 80px;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .mensagem-alarme h3 {
    font-size: 14px;
    margin: 0;
  }
  
  .mensagem-alarme .informacao {
    width: 66%;
  }
  
  .alarme-sino {
    width: 48px;
    height: 48px;
    animation-name: bell;
    animation-duration: 4s;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
    background-size: cover;
    animation-iteration-count: infinite;
  }
  
  @keyframes bell {
    0%   {transform: rotate(25deg)}
    25%  {transform: rotate(-25deg)}
    50%  {transform: rotate(25deg)}
    75%  {transform: rotate(-25deg)}
    100% {transform: rotate(25deg)}
  }